.home_screen{
    display: flex;
    flex-direction: row;
    background-color: #f0f2f5;
    height: 100%;

}
.home_chat{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #f7f5f3;
}